<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  {{!-- Accedemos al contenido que enviamos desde JS con {{...}} --}}
  <h1>This is the home page rendered through hbs!!</h1>
  <h2>Bienvenido {{name}} {{lastName}}</h2>

{{!-- Condicional para que renderice un contenido u otro --}}
  {{#if shoppingCart}}
    <h3>You have some items inside your shopping cart ({{numberOfItems}})</h3>
  {{else}}
    <h3>Your shopping cart is empty :( </h3>
  {{/if}}

{{!-- Iteramos sobre arrays --}}
  <ul>
    {{#each shoppingCart}}
      <li>{{@index}}: {{this}}</li>
    {{/each}}
  </ul>


  {{!-- También podemos iterar sobre objetos literales --}}
  {{#each favoriteBook}}
    <p>{{@key}}</p>
  {{/each}}


</body>
</html>



{{!-- shoppingCart.forEach((this)=>{
  return `<p>${this}</p>`
}) --}}


